build/
*.history
novas.conf
novas.rc
nWaveLog/
BSSLib.lib++/
saved/
*.hex
!golden.hex
*.o
main
result_rtl.txt
VSDtoken
*.tar
LAB3/DRAM/
run
TOP
TOP_0109
TOP_FINAL
TEST
Project
u18_cell_lib
LAB1
LAB2
LAB3
LAB4
*sdf